@{
  Layout = "_Layout";
}

@using Library.Models;

<h1>Welcome to the Library Catalog</h1>

<br>

@*@if (User.Identity.IsAuthenticated)*@
{
  <h4>Authors @*@User.Identity.Name*@</h4>
  @if (Model["authors"].Length == 0)
  {
    <p>No Authors have been added yet!</p>
  }
  <ul>
    @foreach (Author author in Model["authors"])
    {
      <li>@Html.ActionLink(@author.Name, "Details", "Books", new { id = @author.AuthorId})</li>
    }
  </ul>
}
@*else
{
  <h4>Authors</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your authors.</p>
}*@
<br>
@if (User.Identity.IsAuthenticated)
{
  <h4>Books @User.Identity.Name</h4>
  @if (Model["books"].Length == 0)
  {
    <p>No Books have been added yet!</p>
  }
  <ul>
    @foreach (Book book in Model["books"])
    {
      <li>@Html.ActionLink(@book.Title, "Details", "Books", new { id = @book.BookId})</li>
    }
  </ul>
}
else
{
  <h4>Books</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your books.</p>
}

<br>

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>